# Node
node_modules/
npm-debug.*
yarn-error.*
yarn-debug.*
.pnp*
.pnp.js

# Expo
.expo/
dist/
web-build/

# Android
android/app/build/
android/.gradle/
android/app/*.iml
android/local.properties
*.keystore
!debug.keystore

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
DerivedData/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.out
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*